@page "/"
@using Model;
@using Util;
@inject PokeClient client;

<PageTitle>Index</PageTitle>

<style>

    h1 {
        text-align: center;
    }
    .container {
        max-width: 1200px;
        width: vw;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .item_pokemon {
        max-width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 2rem;
    }
    .item_pokemon--img {
        width: 100%;
    }
    

</style>


<h1>Lista De Pokemones</h1>

<div class="container">
    @foreach (Pokemon pokemon in pokemons)
    {
        <div class="item_pokemon">
            <h2>@pokemon.name</h2>
            <img src="@pokemon.sprites?.front_default" title="@pokemon.name" class="item_pokemon--img" />
        </div>
    }
</div>
<img src="@pokemon.sprites?.front_default" alt="">

@code {

    private Pokemon pokemon = new Pokemon();
    private List<Pokemon> pokemons = new List<Pokemon>();
    protected override async Task OnInitializedAsync()
    {
        for (int i = 1; i < 50; i++) {
            pokemons.Add(await client.GetPokemon(i.ToString()));
        }
    }
}